/* Estilos Audio Player */
.audio-player {
    /* background-color: var(--header-color); */
    /* color: #000; */
    border: 2px solid #000;
    border-radius: 15px;
    padding: 15px;
    max-width: 500px;
}

/* Estilos Botones */
.audio-player__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.audio-player__button {
    background-color: var(--color-fondo);
    width: 60px;
    color: var(-color-texto);
    border: 2px solid var(--color-texto);
    cursor: pointer;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 10px;
    border-radius: 30px;
}

.audio-player__button:hover {
    border: none;
    background: var(--color-barra-progreso);
}

.audio-player__button:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* Estilos barra progreso y audio */

.audio-progress {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.audio-progress-bar {
    flex: 1;
    height: 10px;
    background-color: var(--color-barra-progreso-fondo);
    outline: none;
    margin-right: 10px;
    /* -webkit-appearance: none; */
    border-radius: 5px;
}

.audio-progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-texto);
    cursor: pointer;
}

.audio-progress-bar::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-barra-progreso);
    cursor: pointer;
}

.audio-progress-bar::-moz-range-progress {
    height: 10px;
    border-radius: 5px;
    background-color: var(--color-texto);
}

.audio-time {
    font-size: 14px;
    color: var(--color-texto);
}

/* Volumen */

.audio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio-volume {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.audio-button {
    background-color: transparent;
    width: 25px;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}

.audio-volume-bar {
    width: 100px;
    height: 5px;
    background-color: #ccc;
    outline: none;
    margin-right: 10px;
    /* -webkit-appearance: none; */
    border-radius: 5px;
}

.audio-volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-barra-progreso);
    cursor: pointer;
}

.audio-volume-bar::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-barra-progreso);
    cursor: pointer;
}

.audio-volume-bar::-moz-range-progress {
    height: 10px;
    border-radius: 5px;
    background-color: var(--color-texto);
}

.tonalidad-button {
    background-color: var(--color-fondo);
    width: 40px;
    color: var(-color-texto);
    border: 2px solid var(--color-texto);
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
    border-radius: 30px;
}

.tonalidad-button:disabled{
    border: none;
    background: var(--color-barra-progreso);
    cursor: auto;
}

.tonalidad-button:hover {
    border: none;
    background: var(--color-barra-progreso);
}

.tonalidad-button:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.tonalidad-text {
    font-size: 18px;
    color: var(--color-texto);
    margin-right: 10px;
    margin-left: 10px;
}