.navbar {
    background-color: var(--header-color);
}

.navbar-brand {
    /* background-color: var(--color-fondo); */
    font-weight: 600;
    font-size: 25px;
    padding-right: 10px;
    border-radius: 10px;
}

.navbar-nav {
    gap: 10px;
    padding-top: 10px;
}

.navbar-toggler {
    background-color: var(--color-secundario);
    color: var(--color-secundario-hover);
    
}

.btn-inicio {
    background-color: var(--color-secundario);
}

.btn-inicio:hover {
    background-color: var(--color-secundario-hover);
}

.btn:active {
    color: var(--bs-btn-active-color) !important;
    background-color: var(--color-secundario-hover) !important;
    border-color: var(--color-borde) !important;
}

/*Boton*/

.bttn-press {
    max-width: 220px;
    width: 100%;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    font-size: 1rem;
  }
  
  @media screen and (max-width: 990px) {
    .navbar-nav {
      text-align: center;
    }
  
    .navbar-nav li {
      display: inline-block;
      margin: 2px 0;
    }
  }