.botones-container {
    row-gap: 12px;
    column-gap: 12px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boton {
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    border: none;
}

.btn-action {
    background-color: var(--color-principal);
}

.btn-action:hover {
    background-color: var(--color-principal-hover);
}

.btn-upload {
    background-color: var(--color-secundario);
}

.btn-upload:hover {
    background-color: var(--color-secundario-hover);
}

.btn-cancelar {
    background-color: var(--color-cancelar);
}

.btn-cancelar:hover {
    background-color: var(--color-cancelar-hover);
}