:root {
  --color-fondo: #ffffff;
  /* blanco */
  --color-texto: #222222;
  /* negro */
  --header-color: #40E0D0;
  /* turquesa */
  --color-principal: #98FB98;
  /* azul */
  --color-principal-hover: #00FF40;
  /* azul oscuro */
  --color-secundario: #F0E68C;
  /* verde */
  --color-secundario-hover: #f1df37;
  /* verde oscuro */
  --color-borde: #696969;
  /* gris */
  --color-error: #FF0000;
  /* rojo */
  --color-cancelar: #D3D3D3;
  /* gris oscuro */
  --color-cancelar-hover: #5f5e5e;
  /* gris más oscuro */
  --color-fondo-preloader: #F5F5F5;
  /* gris claro */
  --color-barra-progreso: #CCCCCC;
  /* gris */
  --color-barra-progreso-fondo: #E6E6E6;
  /* gris claro */
  --color-texto-resaltado: #00FF80;
  /* verde */
}

html, body, #root {
  height:100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: 'Lato', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}