.text-container {
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    height: 350px;
    overflow: auto;
    margin-bottom: 2rem;
    /* aseguramos el contraste para nivel AA */
    background-color: var(--color-barra-progreso-fondo);
    color: var(--color-texto);
}

.text-container p {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

/* Personalizar el scroll */
.text-container::-webkit-scrollbar {
    width: 10px;
}

.text-container::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.text-container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #F5F5F5;
}

.text-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.audio-container {
    margin-top: 2rem;
}